<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="#style" type="text/css"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head> 
<title> PROGRAMMAZIONE WEB E MOBILE</title>
<meta id="description" content="PROGRAMMAZIONE WEB E MOBILE" />
<link id="style" rel="stylesheet" type="text/css" href="./css/stile.css"/>
</head>


<body>
<div>

<h1>PROGRAMMAZIONE WEB E MOBILE </h1>
<h2>AA 2014-2015: informazioni generali</h2>
<center><a href="index.html">HOME</a> | <a href="#lezioni">LEZIONI</a> | <a href="">MATERIALE</a> | <a href="https://homes.di.unimi.it/ceravolo/index.html" target="_blank">DOCENTE</a></center>
<hr />
<img src="images/UNIMI_LOGO.png"/>

<br />

CFU:<b> 6 </b>Semestre: <b>II</b> Codice Insegnamento:<b> F68-32, F68-42</b>
<br />

<br />

<h3>Programma</h3>

<ol>
<li>Storia e architettura del WWW</li>

<ul> 
<li>Da Internet al Web</li>
<li>Gli standard implementativi del Web</li>
<li>I primi anni e la competizione per gli standard di rappresentazione</li>
<li>Le ragioni della scalabilità del Web</li>
<li>Web 2.0, Web mobile e Architetture Cloud</li>
</ul>

<li>Interfaccia</li>

	<ul> 
<li>HTML, sintassi e parsing</li>
<li>XHTML e CSS</li>
<li>AJAX e Javascript</li>
<li>CSS3</li>
<li>HTML 5, nuovo vocabolario</li>
<li>HTML5, Canvas e SVG</li>
<li>HTML5, Communication API</li>
<li>HTML5, applicazioni offline</li>
	</ul>

<li>Dati</li>
	
	<ul> 
<li>HTML come vocabolario di rappresentazione di documenti</li>
<li>HTML come vocabolario di rappresentazione di interfacce</li>
<li>I database relazionali</li>
<li>La gestione dei dati in contesti multicanale</li>
<li>I protocolli REST</li>
<li>Dai database alle architetture cloud</li>
	</ul>

<li>Procedure</li>

	<ul>
<li>CGI e linguaggi di scripting lato server</li>
<li>Javascript</li>
<li>NodeJS, moduli</li>
<li>NodeJS, gestione degli eventi</li>
<li>NodeJS, creazione e manipolazione di file</li>
<li>NodeJS, comunicazione HTTP</li>
<li>NodeJS, comunicazione HTTPs</li>
	</ul>
	
<li> Progettare nel Web</li>

	<ul>
<li>L’economia dei beni digitali</li>
<li>Modelli di business per il Web</li>
<li>Esternalità della rete</li>
<li>Principi di usabilità architettura dell’informazione</li>
<li>Progettare applicazioni sicure</li>
<li>Ambienti e framework di programmazione Web e Mobile</li>
	</ul>

</ol>

<h3>Pre requisiti</h3>
Nessuno

<h3>Modalità d’esame</h3>

L’esame consiste in:

<ul>
<li>una prova scritta cartacea con più domande ed esercizi sul programma del corso;</li>
<li>la presentazione di un progetto e la sua discussione in un orale.</li>
</ul>

<h3 id="lezioni">Lezioni</h3>

<h4>Introduzione al corso<h4>
<ul>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.1.1_III_Ceravolo_PWM/" target="_blank">Lezione 1</a> - Studiare il Web: Introduzione al corso di Programmazione Web e Mobile</li>
</ul>

<h4>Storia del World Wide Web</h4>
<ul>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.2.1_III_Ceravolo_PWM/" target="_blank">Lezione 1</a> - Alle origini del World Wide Web</li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.2.2_III_Ceravolo_PWM/" target="_blank">Lezione 2</a> - Nasce il World Wide Web</li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.2.3_III_Ceravolo_PWM/" target="_blank">Lezione 3</a> - Evoluzione del World Wide Web</li>
</ul>

<h4>Gli standard del Web</h4>
<ul>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.3.1_III_Ceravolo_PWM/" target="_blank">Lezione 1</a> - Gli standard implementativi del Web</li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.3.2_III_Ceravolo_PWM/" target="_blank">Lezione 2</a> - Lo sviluppo di HTTP</li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.3.3_III_Ceravolo_PWM/" target="_blank">Lezione 3</a> - Lo sviluppo di HTML</li>
<ul><li><a href="ESERCIZI-HTML.docx" target="_blank">Esercizi</a> - Lezione 3</li></ul>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_1.3.4_III_Ceravolo_PWM/" target="_blank">Lezione 4</a> - L’affermazione di uno Standard</li>
</ul>

<h4>HTML</h4>
<ul>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_2.1.1_III_Ceravolo_PWM/" target="_blank">Lezione 1</a> - HTML, sintassi e parsing</li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_2.1.2_III_Ceravolo_PWM/" target="_blank">Lezione 2</a> - Elementi di testo </li>
<li><a href="https://homes.di.unimi.it/ceravolo/PWM/slide_2.1.3_III_Ceravolo_PWM/" target="_blank">Lezione 3</a> - Impaginazione del documento</li>
</ul>


<p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
  </p>

        </div>
	</body>
</html>
